/* Importing Google font - Fira Sans */
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

body {
  background: #ffffff;
}

body::-webkit-scrollbar {
  display: none;
}

/* ---------------------------------- */
/* HEADER  */
/* ---------------------------------- */

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
  padding: 20px;
}

header .navbar {
  max-width: 1280px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .menu-links {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
}

.navbar .menu-links li a {
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  transition: 0.2s ease;
  cursor: pointer;
}

.navbar .menu-links .language-item a {
  display: flex;
  gap: 8px;
  align-items: center;
}

.navbar .menu-links .language-item span {
  font-size: 1.3rem;
}

.navbar .menu-links li a:hover {
  color: #fab300;
}

.navbar .menu-links .join-btn a {
  border: 1px solid #fff;
  padding: 8px 15px;
  border-radius: 4px;
}

.navbar .menu-links .join-btn a:hover {
  color: #fff;
  border-color: transparent;
  background: #fab300;
}

/* ---------------------------------- */
/* HERO SECTION  */
/* ---------------------------------- */

.hero-section {
  height: 100vh;
  background-image: url("../images/image1.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  display: flex;
  padding: 0 30px;
  align-items: center;
}

.hero-section .content {
  max-width: 1280px;
  margin: 0px auto 40px;
  margin-top: 150px;
  width: 100%;
}

.hero-section .content h1 {
  color: #fff;
  font-size: 3rem;
  max-width: 630px;
  line-height: 65px;
}

.hero-section .search-form {
  height: 48px;
  display: flex;
  max-width: 630px;
  margin-top: 30px;
}

.hero-section .search-form input {
  height: 100%;
  width: 80%;
  border: none;
  outline: none;
  padding: 0 15px;
  font-size: 1rem;
  border-radius: 4px 0 0 4px;
}

.hero-section .search-form button {
  height: 100%;
  width: 90px;
  border: none;
  outline: none;
  cursor: pointer;
  background: #fab300;
  color: #fff;
  border-radius: 0 4px 4px 0;
  transition: background 0.2s ease;
}

.hero-section .search-form button:hover {
  color: #000;
}

.hero-section .popular-tags {
  display: flex;
  color: #fff;
  gap: 25px;
  font-size: 0.875rem;
  font-weight: 500;
  margin-top: 25px;
}

.hero-section .popular-tags .tags {
  display: flex;
  gap: 15px;
  align-items: center;
  list-style: none;
  cursor: pointer;
}

.hero-section .tags li a {
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  padding: 4px 12px;
  border-radius: 50px;
  transition: 0.2s ease;
}

.hero-section .tags li a:hover {
  color: #000;
  background: #fff;
}

.navbar #hamburger-btn {
  color: #fff;
  cursor: pointer;
  display: none;
  font-size: 1.7rem;
}

.navbar #close-menu-btn {
  position: absolute;
  display: none;
  color: #000;
  top: 20px;
  right: 20px;
  cursor: pointer;
  font-size: 1.7rem;
}

@media screen and (max-width: 900px) {
  header.show-mobile-menu::before {
    content: "";
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    backdrop-filter: blur(5px);
  }

  .navbar .menu-links {
    height: 100vh;
    max-width: 300px;
    width: 100%;
    background: #fff;
    position: fixed;
    left: -300px;
    top: 0;
    display: block;
    padding: 75px 40px 0;
    transition: left 0.2s ease;
  }

  header.show-mobile-menu .navbar .menu-links {
    left: 0;
  }

  .navbar .menu-links li {
    margin-bottom: 30px;
  }

  .navbar .menu-links li a {
    color: #000;
    font-size: 1.1rem;
  }

  .navbar .menu-links .join-btn a {
    padding: 0;
  }

  .navbar .menu-links .join-btn a:hover {
    color: #fab300;
    background: none;
  }

  .navbar :is(#close-menu-btn, #hamburger-btn) {
    display: block;
  }

  .hero-section {
    background: none;
  }

  .hero-section .content {
    margin: 0 auto 80px;
  }

  .hero-section .content :is(h1, .search-form) {
    max-width: 100%;
  }

  .hero-section .content h1 {
    text-align: center;
    font-size: 2.5rem;
    line-height: 55px;
  }

  .hero-section .search-form {
    display: block;
    margin-top: 20px;
  }

  .hero-section .search-form input {
    border-radius: 4px;
  }

  .hero-section .search-form button {
    margin-top: 10px;
    border-radius: 4px;
    width: 100%;
  }

  .hero-section .popular-tags {
    display: none;
  }
}

/* ---------------------------------- */
/* PRODUCT SECTION  */
/* ---------------------------------- */

.products {
  margin-top: 80px;
}

.container-main {
  width: 100vw;
  margin: 0 auto;
}
.lg-title {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-left: 20px;
  opacity: 0.9;
  font-family: "Roboto", sans-serif;
  text-transform: capitalize;
}

/* product section */
.product-card {
  width: 280px;
  box-shadow: 0 2px 7px #dfdfdf;
  margin: 50px auto;
  background: #fafafa;
}

.product-tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  background: white;
  padding: 40px;
}

.product-tumb img {
  width: 100%;
  object-fit: cover;
}

.product-details {
  padding: 15px;
}

.product-catagory {
  display: block;
  font-size: 12px;
  font-weight: 700;
  color: #ccc;
}

.product-details p {
  font-weight: 500;
  display: block;
  margin-bottom: 18px;
  color: #363636;
  text-decoration: none;
  transition: 0.3s;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.product-bottom-details div {
  float: left;
  width: 50%;
}

.btn-compare {
  padding: 5px 10px;
  border: none;
  border: 1px solid black;
  background-color: white;
}

.btn-compare:hover {
  background-color: #fab300;
}

.pagination{
    margin-left: 45%;
}

.page-link {
  color: #fab300;
}

.page-link:hover {
  color: #fab300;
  cursor: pointer;
}

.product-items {
  overflow-y: auto;
  height: 70vh;
  overflow-y: scroll;
}

/* Media Queries */
@media screen and (min-width: 992px) {
  .product-items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 1200px) {
  .product-items {
    grid-template-columns: repeat(4, 0.2fr);
  }
  .product {
    margin-right: 1rem;
    margin-left: 1rem;
  }
}


/* ---------------------------------- */
/* COMPARISON PAGE  */
/* ---------------------------------- */


.card-wrapper{
    max-width: 1100px;
    margin: 0 auto;
}

.card-wrapper .card{
    border: none;
}
.card-wrapper img{
    width: 100%;
    display: block;
}
.card-wrapper .img-display{
    overflow: hidden;
}
.card-wrapper .img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}
.card-wrapper.img-showcase img{
    min-width: 100%;
}
.card-wrapper .product-content{
    padding: 2rem 1rem;
}
.card-wrapper .product-title{
    font-size: 3rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin: 1rem 0;
}
.card-wrapper .product-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #12263a;
}
.card-wrapper .product-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #256eff;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}
.card-wrapper .product-link:hover{
    opacity: 0.9;
}
.card-wrapper .product-detail h2{
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 0.6rem;
}
.card-wrapper .product-detail p{
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
}
.card-wrapper .product-detail ul{
    margin: 1rem 0;
    font-size: 0.9rem;
}
.card-wrapper .product-detail ul li{
    margin: 0;
    list-style: none;
    background: url("../images/checked.png") left center no-repeat;
    background-size: 18px;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}
.card-wrapper .product-detail ul li span{
    font-weight: 400;
}






@media screen and (min-width: 992px){
    .card-wrapper .card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }

    .comparison-card {
        margin-left: 70px;
    }
    .card-wrapper{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .card-wrapper .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .card-wrapper .product-content{
        padding-top: 0;
    }
}